<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DANCE_STUDIO_BD"
			 connectionString="Data Source=WIN-FSAHKJTGC3M;Initial Catalog=DANCE_STUDIO_BD;Integrated Security=True"
			 providerName="System.Data.SqlClient"/>
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>